@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
/* 
.font-urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
@theme {
  --font-display: "Urbanist", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary:#8DFF69;
}
html{
  font-family: var(--font-display);
  scroll-behavior: smooth;
}
body{
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}
/* ===== Chrome, Edge, Safari ===== */
::-webkit-scrollbar {
  width: 10px; /* scrollbar এর width */
}

::-webkit-scrollbar-track {
  background: #0a0a0a; /* scrollbar track (পেছনের অংশ) */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #8DFF69 ,#6FE047); /* scroll করা অংশ */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
   background: linear-gradient(180deg, #ABFFBD ,#5BC92E); /* scroll করা অংশ */
   /* hover করলে color change */
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6FE047 #0a0a0a;
}
.carousel {
  overflow-x: auto;   /* scroll থাকবে */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge old */
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0%,100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  
}
@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
.animate-fadeIn{
animation: fadeIn 0.5s ease-out;
}
.animate-pulse{
  animation: pulse 0.5s ease-in-out infinite;
}
.animate-spin-slow{
  animation: spin 8s linear infinite;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;   /* কত লাইন দেখাবে */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}